:root{
    --bp:none;
    --bf:1px solid black;
    --c1:#03543B;
    --c2:#9C3A21;
    --c3:#FC8668;
    --c4:#5FE8BD;
    --c5:#B2C9B2;
    
}

#cabecera{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--c1);
    color:white;
}
body{
    background-color: var(--c2);

}
.elementCabecera{
    border:none;
    height: 100%;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#elementoUno{
    display: flex;
    justify-content: end;
    align-items: center;
}

#elementoTres{
    display: flex;
    justify-content: end;
    align-items:center;
}

.centrarSacarBorde{
    border-radius:0px;
    padding-left:1%;
}
