:root{
    --bp:none;
    --bf:1px solid black;
}

*{
    padding: 0;
    margin: 0;
        
}


#main{
    width: 100%;
    height: 100vh;
    border: var(--bp);
    
}

    /* Para el ancho y alto de las imagenes. Modificalo a gusto =)  */
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 1366px ;
        height: 200px;
        margin: auto;
    }
    /* Para los margenes del contendor de las fotos. Podes cambiarle el ancho a gusto tambien! */
    .carousel-control {
        width: 5%;
    }
    .container,.carousel{
      margin: 0;
      padding: 0;
      width: 100%;
      
    }

#todoElRegistrase{
    /*background-image: url( https://img1.wallspic.com/crops/1/3/6/8/4/148631/148631-calzado_deportivo-zapatos_al_aire_libre-zapatillas_de_baloncesto-3840x2160.jpg ); */
    background-image: url("./../img/fondo.png");
    background-size: 100% 80%; 
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    
}

.container{
    border: var(--bp);
    width: 100%;
   
}

#logo_y_nombre{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    padding-bottom: 0.70%;
    background-color: white;
    
}

#registro{
    height: 65%;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 2%;
}
#titleregistro{
    font-size:300%;
    text-align: center;
}

#aboutOf{
background-color: rgb(0, 0, 0);
height: 20%;
position: relative;
bottom: 20%;
display: flex;
justify-content: center;
color:#fdfdfdd0;
}

#contenedorForm{
    height: 68%;
    width: 25%;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-color:rgba(224, 140, 30, 0.83);
    opacity: 0.83;
    margin-top: 7%;
    
}

#formR{
    height: 100%;
    border: var(--bp);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#yaTenesCuenta{
height: 10%;
border: var(--bp);
display: flex;
justify-content: end;
align-items: center;

}

#inputTextos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:545px ;
    align-items: center;

    
}

input{
    width: 80%;
    height: 54px;
    border-radius: 25px;
    font-size: 1.2vw;
    font-family: sans-serif;
    padding-left: 3%;
    opacity: 100%;
}

#botomRegistrarse{
    border-radius: 50px;
    width:60% ;
    height:90% ;
    padding-left: 0;
    background-color: rgb(211, 49, 49);
    cursor: pointer;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

#inputSubmit{
    width: 100%;
    height: 30%;
    border: var(--bp);
    display: flex;
    justify-content: center;
    align-items: center;
}

#linkLoggin{
    color: black;
    padding-right: 2%;
}

#linkLoggin:hover{
    color:Red;
}

#linkLoggin:active{
    color: blueviolet;
}

#contenedorNombreLogo{
    height: 80%;
    border: var(--bp);
    width: 92%;
    display: flex;
    justify-content: center;
}

#subContenedorLogoNombre{
    border: var(--bp);
    width: 30%;
    display: flex;
}

#contenedorLogo{
    border: var(--bp);
    width: 40%;
}

#contenedorNombre{
    border: var(--bp);
    width: 40%;
    display: flex;
    align-items: center;
    color: black;
    font-size: 2.5vw;
}

#logo{
    width: 40%;
    height: 130%;
    
}

#allInformation{
    width: 60%;
    border: var(--bp);
    display: flex;
    justify-content: space-between;

}


.containersInfo{
    height: 100%;
    width: 30%;
    border: var(--bp);
    display: flex;
    flex-direction: column;
}

.nombres{
    visibility: hidden;
    border: var(--bp);
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.8vw;
}

#paises{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
}

#selectPaises{
    width: 120%;

}


.items{
    text-decoration: none;
    margin-left: 16%;
    color: black;
    font-size: 0.8vw;
    color:#fffdfad0;
    visibility: hidden;
}

.items:hover{
    text-decoration: underline;
    margin-left: 25%;
    color: red;
}

