:root{
    --bp:none;
    --bf:1px solid black;
    --c1:#03543B;
    --c2:#9C3A21;
    --c3:#FC8668;
    --c4:#5FE8BD;
    --c5:#B2C9B2;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.cards{
    display: flex;
    flex-direction:  row;
    
    width: 100vw;
    height: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

#main{
    width: 100%;
    height: 100vh;
    border: var(--bp);
    
}

#todoElRegistrase{
    background-color: var(--c2);
    width: 100%;
    height: 100%;
    
}

.container{
    border: var(--bp);
    width: 100%;
   
}

#logo_y_nombre{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    padding-bottom: 0.70%;
    background-color: var(--c1);
    width: 100vw;
    min-height: 80px;

}

#registro{
    height: 65%;
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 2%;
}
#titleregistro{
    font-size:300%;
    text-align: center;
}

#aboutOf{
background-color: rgb(0, 0, 0);
height: 20%;
position: relative;
bottom: 20%;
display: flex;
justify-content: center;
color:#fdfdfdd0;
}

#contenedorForm{
    height: 68%;
    width: 25%;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: black;
    opacity: 100%;
    margin-top: 7%;
    
}

#formR{
    height: 90%;
    border: var(--bp);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#yaTenesCuenta{
height: 10%;
border: var(--bp);
display: flex;
justify-content: end;
align-items: center;

}

#inputTextos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:90% ;
    align-items: center;

    
}

input{
    width: 80%;
    height: 15%;
    border-radius: 25px;
    font-size: 1.2vw;
    font-family: sans-serif;
    padding-left: 3%;
    opacity: 100%;
}

#botomRegistrarse{
    border-radius: 50px;
    border: none;
    width:80% ;
    height:80% ;
    padding-left: 0;
    background-image: url("./../img/hombre.png");
    background-size: 100% 115%;
    background-color: red;
    cursor: pointer;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

#botomRegistrarse:hover{
    background-color: blueviolet;
}

#inputSubmit{
    width: 100%;
    height: 100%;
    border: var(--bp);
    display: flex;
    justify-content: center;
    align-items: center;
}


#contenedorNombreLogo{
    height: 80%;
    border: var(--bp);
    width: 92%;
    display: flex;
    justify-content: center;
}

#subContenedorLogoNombre{
    border: var(--bp);
    width: 30%;
    display: flex;
}

#contenedorLogo{
    border: var(--bp);
    width: 40%;
}

#contenedorNombre{
    border: var(--bp);
    width: 40%;
    display: flex;
    align-items: center;
    color: black;
    font-size: 2.5vw;
}

#logo{
    width: 40%;
    height: 130%;
    
}

#allInformation{
    width: 60%;
    border: var(--bp);
    display: flex;
    justify-content: space-between;

}


.containersInfo{
    height: 100%;
    width: 30%;
    border: var(--bp);
    display: flex;
    flex-direction: column;
}

.nombres{
    visibility: hidden;
    border: var(--bp);
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.8vw;
}

#paises{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
}

#selectPaises{
    width: 120%;

}


.items{
    text-decoration: none;
    margin-left: 16%;
    color: black;
    font-size: 0.8vw;
    color:black;
    visibility: hidden;
}

.items:hover{
    text-decoration: underline;
    margin-left: 25%;
    color: red;
}
 #gifCarga{
    width:30% ;
    height:80% ;
    background-size: 100%;
    position: relative;
    right:15%;
}
 #NombrePagina{
    position: relative;
    left: 70px;
    font-size:2.5rem ;
    
 }

 #botonLogout{
    position: relative;
    left: 25%;
  }
 
#aboutOf{
    position: relative;
    top: 450px;
    display: none;
    z-index: 100;
 }
/*   
 -TO DELETE THE POSITION OF LOGOUT IMAGE
 -TO DELETE THE SIZES OF THE IMAGE OF THE CHARGE SCREEN  */
/* MOBILE */
    @media(max-width:480px){
        #gifCarga{
            /* width: ;
            height: ; */
        }
        #aboutOf{
            position: relative;
            top: 450px;
         }

         #NombrePagina{
            position: relative;
            left: 70px;
            font-size:2.5rem ;
         }
         #botonLogout{
            position: relative;
            left: 50px;
         }
         #NombrePagina{
            font-size: 2.1rem;
         }

         #logo_y_nombre{
            width: 110vw;
         }
   }
   
   /* EXTRA SMALL DEVICES */
   @media(min-width:481px) and (max-width:767px){
         #aboutOf{
            position: relative;
            top: 200px;
         }

         #NombrePagina{
            position: relative;
            left: 70px;
            font-size:2.5rem ;
         }
         #botonLogout{
            position: relative;
            left: 80px;
         }
      
   }
   /* SMALL TABLETS */
   @media(min-width:768px) and (max-width:991px){
    
   }
   /* LARGE TABLET / LAPTOPS */
   @media(min-width:992px) and (max-width:1199px){
    
   }
   
    

