body{
  width: 100%;
  height: 100%;
    margin:0;
    padding:0;
    background-color: rgb(248, 110, 12);
  }
    /* Para el ancho y alto de las imagenes. Modificalo a gusto =)  */
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 1300px ;
        height: 150px;
        margin: auto;
    }
    /* Para los margenes del contendor de las fotos. Podes cambiarle el ancho a gusto tambien! */
    .carousel-control {
        width: 5%;
    }
    .container,.carousel{
      margin: 0;
      padding: 0;
      width:100%;
    }
    .inicio{
      display: flex;
      width:30%;
      height: 60vh;
      flex-direction: column;
      background-color: rgb(228, 222, 222);
      padding: 30px 30px 30px 30px;
      margin: auto;
      border-radius: 10px;
      box-shadow: 20px 20px 80px #bebebe,
      -10px -10px 60px #ffffff;
      opacity: 100%;
      background-color: #939191;
      }
    .forma{
      margin:center;
      width: 5cm;
      height: 20px;
    }
    .input{
        display:flex;
        flex-direction: column;
        
    }
    
    
    .btn {
      
      width: 90%;
      position:relative;
      display:inline-block;
      justify-content:space-between;
    }

    .seleccion{
      margin:7cm;
      text-align: center;
      padding:10px;
      width: 70%;
      height: auto;
      background-color: aliceblue;
      
    }
    #lista{
      margin:auto;
      width:200px;
      height: 300px;
    }